<div ng-controller="IndexController">

    <div class="timeline" ng-show="isLoggedIn()" ng-init="isLoggedIn() ? refreshFeed() : null">

            <div class="row text-center margin-bottom-50" ng-repeat="media in feed">

                <div class="col-md-10" ng-show="isLayout('getRecentMedia')">

					<div class="col-md-3" ng-repeat="image in images | unique:'id'">

						<div class="thumbnail">

							<a class="thumbnail" ng-href="#media/{{image.id}}/{{image.type}}"
							   ga-track-event="['Media', image.id]">
								<img ng-src="{{image.images.thumbnail.url}}">
							</a>

							<div class="caption">
								<p class="text-center">{{image.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
								<span class="glyphicon glyphicon-thumbs-up"> {{image.likes.count}}</span>
								<span class="glyphicon glyphicon-pencil pull-right"> {{image.comments.count}}</span>
							</div>

						</div>

					</div>

				</div>

            </div>
			
			<div class="col-md-10" ng-show="!isLayout('getRecentMedia')">

        <div class="row container-fluid">

            <ul class="list" class="col-md-12" ng-show="isLayout('getFollows')">

                <li ng-repeat="f in follows | unique:'id'">

                    <div class="pull-left">
                    <a ng-href="#user/{{f.id}}/{{f.username}}"><img ng-src="{{f.profile_picture}}"/></a>
                    <p>{{f.full_name}}</p>
                    <p>{{f.bio}}</p>
                    </div>
                </li>

            </ul>

            <ul class="list" class="col-md-12" ng-show="isLayout('getFollowedBy')">

                <li ng-repeat="f in followedBy | unique:'id'">

                    <div class="pull-left">
                    <a ng-href="#user/{{f.id}}/{{f.username}}"><img ng-src="{{f.profile_picture}}"/></a>
                    <p>{{f.full_name}}</p>
                    <p>{{f.bio}}</p>
                    </div>

                </li>

            </ul>

        </div>

    </div>

        <load-more />

    </div>

    <!--if user not logged in-->
    <div ng-show="!isLoggedIn()">

        <div class="container">
            <div class="row">

                <div class="col-md-4"></div>

                <form class="form-signin mg-btm col-md-4">
                    <h3 class="heading-desc text-center">
                        Connect your Instagram account to use user-based features,
                        Or try the features on navbar ;)
                        </h3>
                    <div class="social-box">
                        <div class="row mg-btm">
                            <div class="col-md-12">
                                <a ng-href="{{authLink}}" class="btn btn-primary btn-block"
                                   ga-track-event="['User','Login Attempt']">
                                    <i class="icon-facebook"></i> Login with Instagram
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <error/>

</div>